<mat-toolbar color="primary">
  <span *ngIf="!loggedIn; else fullBar">Movie Seek</span>

  <ng-template #fullBar>
    <button
      mat-button
      class="toolbar-logo"
      (click)="goToMovies()"
    >Movie Seek</button>
    <button
      mat-button
      class="toolbar-btn settings-btn"
      (click)="goToProfile()"
    ><mat-icon class="toolbar-btn__icon">account_circle</mat-icon></button>

    <button
      mat-button
      class="toolbar-btn logout-btn"
      (click)="logOut()"
    ><mat-icon class="toolbar-btn__icon">logout</mat-icon></button>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>